<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tovar</title>
</head>
<body>
<div th:switch="${tovar}">
    <h2 th:case="null">No Tovars found</h2>
    <div th:case="*">
        <h2>Tovar</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Name Tovar</th>
                <th>Name Prodavec</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tovar : ${tovar}">
                <td th:text="${tovar.id}"></td>
                <td th:text="${tovar.NameTovar}"></td>
                <td th:text="${tovar.NameProdavec}"></td>
                <td><a th:href="@{tovar-update/{id}(id=${tovar.id})}">Edit</a></td>
                <td><a th:href="@{tovar-delete/{id}(id=${tovar.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/tovar-create">Create tovar</a></p>
</div>
</body>
</html>